{%- style -%}
  .custom_card_inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .primary-card {
    background-color: hsl(0, 0%, 95%);
    color: black;
  }

  .secondary-card {
    background-color: hsl(0, 100%, 50%);
    color: white;
  }

  .button.primary-style {
    font-weight: 600;
    color: white;
    background-color: hsl(0, 100%, 50%);
    --border-offset: unset;
    --buttons-border-opacity: unset;
  }

  .button.secondary-style {
    font-weight: 600;
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 0%, 95%);
    --border-offset: unset;
    --buttons-border-opacity: unset;
  }

  .custom-card-title {
    padding-left: 20px;
    font-weight: bold;
  }

  .custom-card-title.primary-style {
    border-left: 5px solid hsl(0, 100%, 50%);
    color: black;
  }

  .custom-card-title.secondary-style {
    border-left: 5px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  .custom-card-body {
    padding-left: 20px;
  }

  .custom-card-footer {
    padding-left: 18px;
  }
{%- endstyle -%}

<div class="custom-card-wrapper">
  <div
    class="
      card custom_card_inner
      {% if style == 'secondary' %}
        secondary-card
      {% else %}
        primary-card
      {% endif %}
    "
  >
    <div class="custom-card-header">
      <h2 class="custom-card-title {{ style }}-style">
        {% if card_collection.title != blank %}
          {% assign words = card_collection.title | escape | upcase | split: ' ' %}
          <span class="title-wrapper">
            {% for word in words %}
              <span class="title-word">{{ word }}</span>
              {%- unless forloop.last %}<br>{% endunless %}
            {% endfor %}
          </span>
        {% else %}
          {{ 'onboarding.collection_title' | t }}
        {% endif %}
      </h2>
    </div>
    <div class="custom-card-body">
      <span class="custom-card-description">{{ card_collection.description }}</span>
    </div>
    <div class="custom-card-footer animate arrow">
      <button
        class="custom-card-button button {{ style }}-style"
      >
        SEE MORE
        {% comment %}
          <span class="custom-icon-wrap">
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          </span>
        {% endcomment %}
      </button>
    </div>
  </div>
</div>
